@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: $bp-tablet) {
      @content;
    }
  }

  @if $bp == tablethorizontal {
    @media (min-width: $bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: $bp-desktop) {
      @content;
    }
  }

  @if $bp == desktopxl {
    @media (min-width: $bp-desktop-xl) {
      @content;
    }
  }
}


@mixin reset-list(){
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin button($bg-color: $black, $color:$white){
  display: inline-block;
  padding: 14px 24px;
  color: $color;
  background-color: $bg-color;
  text-decoration: none;
  border-radius: 28px;

  &:hover{
    background: #666CA3;
  }
  
  
}

@mixin button-pink-orange{
  @include button();
  background-image: $gradient-pink-orange;
  &:hover{
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  }

}

  
@mixin button-pink-blue{
  @include button();
  background-image: $gradient-pink-blue;
  &:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
  }

}
@mixin button-link(){
  color:$pink ;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
  font-style: normal;
  line-height: 28px;

}


@mixin icon{
  background-image: $gradient-pink-orange;
  border-radius: 50%;
  padding: 10px 12px 8px 12px;

}