$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;


// Colors

$blue:#666CA3;
$black: #13183F;
$grey:#83869A;
$pink:#F74780;
$pink-light:#FFA7C3;
$white:#ffffff;

$gradient-pink-orange:linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
$gradient-pink-blue:linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);
