.activities{
    margin-bottom: 80px;
    background-image: linear-gradient(180deg, #FFF 0%, #F0F1FF 100%);
    @include breakpoint(tablet){
        margin-bottom: 0;
    }

    .container{
        @include breakpoint(tablet){
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 15px 11px;
        }
        @include breakpoint(tablethorizontal){
            gap: 15px 30px;
        }
        @include breakpoint(desktop){
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &__header{
        background-image: $gradient-pink-orange;
        border-radius:10px ;
        padding: 24px 28px;
        color: $white;
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
        line-height: 32px;
        margin-bottom: 40px;
        
        h2{
            width: 80%;

            @include breakpoint(desktop){
                font-size: 32px;
                font-style: normal;
                line-height: 40px;
                font-weight: 500;
                padding-top: 20px;
            }
        }

    }

    &__item{
        padding: 1rem 2rem;
        position: relative;
        &-animation{
            background-color: $white;
            border-radius: 10px;
            padding-top: 50px;
            margin-bottom: 40px;
    
        }

        &-icon{
            display: inline-block;
            margin-bottom: 16px;
            position: absolute;
            top:-20px;
            
            

            img{
                width: 100%;
            } 
            
        }

        &-title{
            color: $black;
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            margin-bottom: 16px;
        }
        &-description{
            font-size: 16px;
            font-style: normal;
            line-height: 25px;
            font-weight: 400;
            color: $grey;
            margin-bottom: 24px;
        }
        &-cta{
            margin-bottom: 20px;
        }
    }
}