.container {
    padding-left: 16px;
    padding-right: 16px;

    @include breakpoint(tablet){
        padding-left:25px;
        padding-right: 25px;
    }

    @include breakpoint(tablethorizontal){
        padding-left: 28px;
        padding-right: 28px;
    }

    @include breakpoint(desktop){
        padding-left:80px ;
        padding-right: 80px;
    }


}